/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require carousel
*= require_self
*/

.top-bar {
    padding: 0 0 10px 0;
}

.user-menu {
    text-align: right;
}
#main {
    margin-top: 110px;
}

.form-wrap {
    border: 1px solid #dedede;
    padding: 20px;
    margin: 150px 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding: 10px 0;
}